<article>

  <div class="author">
    <div class="author-detail">
      <img class="profile-photo" src="https://scontent-icn1-1.cdninstagram.com/t51.2885-19/s150x150/15624371_1364192260321022_7445173950457315328_a.jpg" alt="프로필 사진">
      <strong class="author-name">grangrang</strong>
      <div class="created-at">55분</div>
    </div>
  </div>

  <div class="content">
    <img src="https://scontent-icn1-1.cdninstagram.com/t51.2885-15/e35/18513241_301445296965990_3975830348071174144_n.jpg" alt="콘텐츠 사진">
    <p>
      
    </p>
  </div>

  <div class="social">
    <div class="like">jeewhan님과 jullecho님이 좋아합니다</div>
    <div class="action">
      <img class="heart" src="http://www.hiboo.co/img/img-ph-heart-2.png" alt="heart-icon">
      <div class="comment">댓글 달기...</div>
      <img class="option" src="https://cdn2.iconfinder.com/data/icons/clean-simple/75/more-512.png" alt="option-icon">
    </div>
  </div>

</article>
